<!-- START COPYRIGHT -->
<!-- START CONTAINER FLUID -->
<div class=" container-fluid  container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-right sm-pull-reset">
            <span class="hint-text">Copyright &copy; <%- new Date().getFullYear() %></span>
            <span class="font-montserrat">NosWings</span>.
        </p>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END COPYRIGHT -->
