<!-- START HEADER -->
<div class="header">
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
    </a>
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="dropdown pull-right hidden-md-down">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
                    <span><i class="fa fa-money"></i> <%= user.money || '???' %></span>
                    |
                    <span class="semi-bold"><%= user.username || 'None' %></span>
                </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="#" class="dropdown-item"><i class="pg-settings_small"></i><%= translate.HEADER_BAR.SETTING %></a>
                <a href="/logout" class="clearfix bg-master-lighter dropdown-item">
                    <span class="pull-left"><%= translate.HEADER_BAR.LOGOUT %></span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                </a>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->
