<!DOCTYPE html>
<html>
<head>
    <% include shared/head.ejs %>
    <style>
        .nw-shop-item {
            max-height: 200px;
        }

        .nw-shop-image {
            text-align: center;
        }
    </style>
</head>
<body class="fixed-header menu-pin">
<% include shared/sidepanel.ejs %>
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <% include shared/header.ejs %>
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <o class="breadcrumb"></o>
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                        1337€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                        100€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                        100€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                        100€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                        100€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="card-title">{TITRE PACK}</div>
                            </div>
                            <div class="card-block">
                                <div class="nw-shop-image"><p><a>
                                            <img src="http://staticns.ankama.com/ankama/cms/images/273/2016/04/28/495073.jpg"
                                                 class="nw-shop-item"/></a></p></div>
                                <p>Description...</p>
                                <p>
                                    <button class="btn btn-success btn-md m-t-10"><i class="fa fa-shopping-cart"></i>
                                         100€
                                    </button>
                                    <button class="pull-right btn btn-complete btn-md m-t-10"><i
                                                class="fa fa-info-circle"></i> {DETAILS}
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <% include shared/copyright.ejs %>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<% include shared/javascript.ejs %>
</body>
</html>
