<footer>
    <div class="layout">
        <div class="block block-block">
            <div class="footer-text">
                <p>© <%- new Date().getFullYear(); %> NosWings</p>
            </div>
        </div>
    </div>
</footer>