<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <p><%- new Date().getFullYear(); %> ©
                    <span class="text-color-light">NosWings by GameField</span> - Copyright All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>