<meta charset="utf-8" xmlns:https="http://www.w3.org/1999/xhtml">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- SEO -->
<title>NosWings | Serveur Privé Nostale
    <% if (locals.title) { %>
    | <%- title %>
    <% } %>
</title>
<meta name="description" content="
<% if (locals.desc) { %>
  <%- desc %>
<% } else { %>
  NosWings, le serveur privé Nostale vous permettant de trouver ce que vous n'avez pas trouvé sur l'officiel !
  Rejoignez nous dès maintenant et découvrez notre serveur !
  <center><img src='https://noswings.fr/assets/img/logo_square.png'/></center>
<% } %>">
<meta name="keywords"
      content="noswings, serveur noswings, nostale, serveur privé nostale, nostale serveur, serveur privé nostale 2017, nostale server, pvp nostale">
<meta name="author" content="NosWings">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- vendor css -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugins/animate/animate.min.css">
<!-- plugins css -->
<link href="/assets/plugins/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
<!-- theme css -->
<link rel="stylesheet" href="/assets/css/theme.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">

<% include meta.ejs %>