<meta charset="utf-8" xmlns:https="http://www.w3.org/1999/xhtml">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- SEO -->
<title>NosWings | Serveur Privé Nostale
    <% if (locals.title) { %>
    | <%- title %>
    <% } %>
</title>
<meta name="description" content="
<% if (locals.desc) { %>
  <%- desc %>
<% } else { %>
  NosWings est un serveur privé vous permettant de trouver ce que vous n'avez pas trouvé ailleurs !
  Rejoignez nous dès maintenant et découvrez notre serveur !
<% } %>">
<meta name="keywords"
      content="noswings, serveur noswings, nostale, serveur privé nostale, nostale serveur, serveur privé nostale 2017">
<meta name="author" content="NosWings">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/assets/css/normalize.css">
<link rel="stylesheet" href="/assets/css/font-awesome.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/navigation.css">
<link rel="stylesheet" href="/assets/css/wide.css">
<script src="/assets/js/modernizr.js"></script>

<% include meta.ejs %>