<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/header.ejs %>
</head>

<body class="fixed-header">
<!-- header -->
<% include shared/nav.ejs %>
<!-- /header -->

<!-- main -->
<section class="bg-inverse p-y-0">
    <div class="owl-carousel owl-slide full-height">
        <div class="carousel-item" style="background-image: url('/assets/img/news/halloween_1080p.png');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
                <div>
                    <h3 class="carousel-title">NosWings - Hallowings</h3>
                    <p>Halloween débarque sur NosWings !</p>
                    <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="/" data-lightbox
                       role="button">Plus d'informations</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('/assets/img/news/noswings.png');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
                <div>
                    <h3 class="carousel-title">NosWings - Reborn</h3>
                    <p>La mise à jour des pets !</p>
                    <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="/" data-lightbox
                       role="button">Plus d'informations</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- post -->
                <div class="post post-md">
                    <div class="post-thumbnail">
                        <a href="blog-post-medium.html">
                            <img src="/assets/img/news/halloween.png" alt="Halloween sur NosWings">
                        </a>
                    </div>
                    <div class="post-block">
                        <h2 class="post-title">
                            <a href="blog-post-medium.html">Halloween débarque sur NosWings !</a>
                        </h2>
                        <div class="post-meta">
                                <span>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="/">Blowa</a> - le 24 Octobre 2017</span>
                        </div>
                        <p>Profitez en pour découvrir l'évènement Hallowings sur notre serveur !</p>
                    </div>
                </div>
                <div class="post post-md">
                    <div class="post-thumbnail">
                        <a href="blog-post-medium.html">
                            <img src="https://cdn.discordapp.com/attachments/352810727943307265/372041464445665280/Pikaz.png" alt="Vidéo de présentation du serveur privé nostale NosWings - Pikaz">
                        </a>
                    </div>
                    <div class="post-block">
                        <h2 class="post-title">
                            <a href="blog-post-medium.html">Vidéo de Présentation du erveur NosWings - by Pikaz</a>
                        </h2>
                        <div class="post-meta">
                                <span>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="profile.html">Blowa</a> - le 24 Octobre 2017</span>
                        </div>
                        <p>Découvrez au travers d'une vidéo les fonctionnalités de NosWings !</p>
                    </div>
                </div>

                <div class="pagination-results m-t-30">
                    <span>Showing 1 to 2 of 2 results</span>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Précédente</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Suivante</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <div class="widget widget-games">
                        <h5 class="widget-title">Les Rates</h5>
                        <a href="#" style="background-image: url('/assets/img/widget/xp.png')">
                            <span class="overlay"></span>
                            <div class="widget-block">
                                <div class="count">XP</div>
                                <div class="description">
                                    <h5 class="title">Rate x30</h5>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="background-image: url('/assets/img/widget/gold.png')">
                            <span class="overlay"></span>
                            <div class="widget-block">
                                <div class="count">OR</div>
                                <div class="description">
                                    <h5 class="title">Rate x30</h5>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="background-image: url('/assets/img/widget/drop.png')">
                            <span class="overlay"></span>
                            <div class="widget-block">
                                <div class="count">DROP</div>
                                <div class="description">
                                    <h5 class="title">Rate x5</h5>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="background-image: url('/assets/img/widget/fairy.png')">
                            <span class="overlay"></span>
                            <div class="widget-block">
                                <div class="count">FÉE</div>
                                <div class="description">
                                    <h5 class="title">Rate x10</h5>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="background-image: url('/assets/img/widget/reput.png')">
                            <span class="overlay"></span>
                            <div class="widget-block">
                                <div class="count">REPUT</div>
                                <div class="description">
                                    <h5 class="title">Rate x10</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- widget post  -->
                    <div class="widget widget-post">
                        <h5 class="widget-title">Discord</h5>
                        <iframe src="https://discordapp.com/widget?id=246980749146718208&theme=dark" width="350" height="500" allowtransparency="true"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /main -->

<section class="bg-secondary no-border-bottom p-y-80">
    <div class="container">
        <div class="heading">
            <i class="fa fa-star"></i>
            <h2>Nos fonctionnalités</h2>
            <p>Vous souhaitez savoir ce qui est présent sur notre serveur ?</p>
        </div>
        <div class="owl-carousel owl-list">
            <div class="card card-review">
                <a class="card-img" href="review-post.html">
                    <img src="/assets/img/features/act4.png" alt="">
                </a>
                <div class="card-block">
                    <h4 class="card-title">
                        <a>Acte 4</a>
                    </h4>
                    <p>Notre acte 4 est fonctionnel, a été refait pour être plus attirant qu'avant</p>
                </div>
            </div>
            <div class="card card-review">
                <a class="card-img" href="review-post.html">
                    <img src="/assets/img/features/nosmate.png" alt="">
                </a>
                <div class="card-block">
                    <h4 class="card-title">
                        <a>Nosmates / Partenaires</a>
                    </h4>
                    <p>Vous souhaitiez avoir votre fibi à côté de vous ? Ou votre Kliff ? Chez nous c'est possible !</p>
                </div>
            </div>
            <div class="card card-review">
                <a class="card-img" href="review-post.html">
                    <img src="/assets/img/features/shell.png" alt="">
                </a>
                <div class="card-block">
                    <h4 class="card-title">
                        <a>Runes / Cellonages</a>
                    </h4>
                    <p>En manque de points de SP ? Besoin de SL ? Les runes sont présentes sur NosWings !</p>
                </div>
            </div>
            <div class="card card-review">
                <a class="card-img" href="review-post.html">
                    <img src="/assets/img/review/review-4.jpg" alt="">
                </a>
                <div class="card-block">
                    <h4 class="card-title">
                        <a>Du contenu inédit</a>
                    </h4>
                    <p>Vous souhaitiez un serveur unique en son genre ? Nous avons retravaillé tout le GamePlay de notre
                        serveur !</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-image">
    <div class="overlay"></div>
    <div class="container">
        <div class="video-play" data-src="https://www.youtube.com/embed/7WnQjboj3L0?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item" src="https://img.youtube.com/vi/7WnQjboj3L0/maxresdefault.jpg" alt="">
                <div class="video-caption">
                    <h5>NosWings - Présentation du serveur</h5>
                    <span class="length">00:01</span>
                </div>
                <div class="video-play-icon">
                    <i class="fa fa-play"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<% include shared/footer.ejs %>
<!-- /footer -->

<!-- vendor js -->
<script src="/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="/assets/plugins/popper/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- plugins js -->
<script src="/assets/plugins/lightbox/lightbox.js"></script>
<script src="/assets/plugins/owl-carousel/js/owl.carousel.min.js"></script>
<script>
    (function ($) {
        "use strict";

        // Full Width Carousel
        $('.owl-slide').owlCarousel({
            nav: true,
            loop: true,
            autoplay: true,
            items: 1
        });

        // Recent Reviews
        $('.owl-list').owlCarousel({
            margin: 25,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                500: {
                    items: 2
                },
                701: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });

        // lightbox
        $('[data-lightbox]').lightbox();
    })(jQuery);
</script>

<!-- theme js -->
<script src="/assets/js/theme.min.js"></script>
</body>

</html>